#footer {
  padding-top: 30px;
  height: 120px;
  text-align: center;
  font-size: 22px;
  background-color: rgb(250, 246, 228);
}

@media screen and (max-width: 750px){
  #footer {
    height: 50px;
    padding-top: 0.6vw;
    font-size: 2.7vw;
  }
}