body{
  margin: 0;
  font-family: 'Cute Font', sans-serif;
}

a{
  text-decoration: none;
  color: black;
  font-size: 26px;
}

#header_nav{
  display: flex; /* 한줄로 보여짐 */
  justify-content: space-between; /* 중간에 공백 넣어줌 */
   align-items: center;
   background-color: antiquewhite;
   padding: 8px 12px;
}

#nav_logo{
  height: 70px;
  margin-left: 30px;
  margin-right: -30px;
  cursor: pointer;
}

#nav_menu{
  display: flex;
  list-style: none;
  padding-left: 0;
}

#nav_menu li{
  padding: 8px 22px;
  margin: 0px 30px;
  cursor: pointer;
  text-align: center;
}

#nav_menu li:hover a{
  color: lightcoral;
}

#nav_icons{
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-right: 30px;
  font-size: 25px;
}

#nav_icons li{
  padding: 8px 20px;
}

#nav_toogleBtn{
  display: none;
  position: absolute;
  height: 24px;
  top: 30px;
  right: 32px;
  font-size: 24px;
}

@media screen and (max-width: 1020px){
  #header_nav{
    flex-direction: column;
  }
  #nav_logo{
    margin: 0;
  }
  #nav_menu{
    display: none;
    flex-direction: column;
    width: 100%;
  }
  #nav_menu li{
    margin: 0px;
    padding: 8px 0px;
    width: 100%;
  }
  #nav_menu li:hover{
    background-color: bisque;
    border-radius: 10px;
  }
  #nav_menu li:hover a{
    color: black;
  }
  #nav_icons{
    display: none;
    justify-content: center;
    width: 100%;
    margin: 0;
  }
  #nav_toogleBtn{
    display: block;
  }

  #nav_menu.active,
  #nav_icons.active{
    display: flex;
  }
}