body{
  /* background-color: rgb(250, 246, 228); */
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 700px;
  padding-bottom: 5%;
}

.content h1{
  font-size: 50px;
  margin-top: 50px;
}

.content table{
  width: 80%;
  max-width: 700px;
  font-size: 20px;
  border-collapse: collapse;
}

.content table caption {
  text-align: right;
  font-weight: bold;
  color: crimson;
}

.content table tr td{
  height: 50px;
}

.content table tr td:first-child{

  min-width: 80px;
  text-align: center;
  font-weight: bold;
}

.content table tr td:nth-child(2){
  overflow: hidden;
}

.content table tr td:nth-child(3){
  width: 30%;
  text-align: center;
  /* min-width: 220px; */
}

.content table tr td:nth-child(3) img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -10px;
  width: 150px;
}

.content table tr td:nth-child(3) span{
  visibility: hidden;
}

.inputName{
  height: 30px;
  width: 90%;
  /* max-width: 200px; */
  border: none;
  border-bottom: 1px solid lightgray;
  margin-left: 3%;
  /* padding-left: 10px; */
  font-size: 20px;
  font-family: 'Cute Font', sans-serif;
}

.inputFile{
  margin-left: 3%;
}

.content table tr td:nth-child(2) input:focus{
  outline: none;
}

.contactNum{
  width: 20%;
  height: 30px;
  border: none;
  border-bottom: 1px solid lightgray;
  font-size: 20px;
  text-align: center;
  font-family: 'Cute Font', sans-serif;
}

#contactNum1{
  margin-left: 3%;
}

.categorySelect{
  margin-left: 3%;
}

#map{
  width: 95%;
  height: 350px;
  margin: 0 auto;
  margin-top: 1%;
  margin-bottom: 3%;
}